
.figma/
.vscode/
.scraps/
.icons/
node_modules/
build/
dist/
out/
js/
.performance-profiles/
src/test-results/
Miru/
electron-dists/
logs/
scripts/
target/
test.mkv
torrents/


bun.lockb
.env
test.sh
crap.ts

