@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  color-scheme: dark;
}

html * {
  font-family: "Bahnschrift", sans-serif !important;
}

input {
  padding-left: 0.5rem;
  outline: none;
  border-radius: 0.25rem;
}

select {
  padding-left: 0.5rem;
  outline: none;
  border-radius: 0.25rem;
}

svg {
  fill: currentColor;
}

body {
  background-color: #222222;
  overflow: hidden;
}

.default-dark {
  background-color: #222222;
}

.xxs-dark {
  background-color: #121212;
}

.xs-dark {
  background-color: #101010;
}

.s-dark {
  background-color: #0e0e0e;
}

.m-dark {
  background-color: #090909;
}

.l-dark {
  background-color: #070707;
}

.xl-dark {
  background-color: #040404;
}

.xxl-dark {
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  /*
* Mildly undecided on which looks better
* background-color: #4d4d4d;
*/
  background-color: #666;
  border-radius: 3.5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f;
}
